// Override Bs4 variables and custom mixins
$theme-colors: (
        'primary': #009CAB,
        'danger': #F04C25
);

body,
html {
  overflow-x: hidden;
  width: 100%;
}

// Link to BS4
@import "../node_modules/bootstrap/scss/bootstrap";

//LINK TO FONT
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
// Custom code/partials



//VARIABLES

$break-small: 320px;
$break-mid: 1000px;
$break-mid2: 1250px;
$break-large: 1920px;

//MIXINS - LOUIS
@mixin tekstgroot {
  font-size: 50px;
}

@mixin tekstmid {
  font-size: 20px;
}

//MIXINS - MICHIEL


//MIXINS - JENTE


//ALGEMENE OPMAAK

.musicbody {
  background:rgba(102, 0, 0, 0.1)
}

@media screen and (max-width: $break-mid2) {


}
/* NAVIGATION BAR */

nav {
  height: 4rem;

}

.navigatie {
  background-color: black;
  border-bottom: 1px solid grey;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-nav {
  margin-top:1.5rem;

}


nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

//NAVBAR ANIMATION

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

nav ul li a:active {
  color: white;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: red;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Circle */
nav.circle ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.circle ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.circle ul li a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

/* SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}
//navbar mediaquery
@media screen and (max-width: $break-small) {
  .navigatie a {
    color: black;
  }

  .nav-item {
    color: black
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

//INTRO

.intro .content {
  font-size: 16px;
  margin-right: 15%;
}

.intro header {
  margin-top: 10%;
  margin-left: 2.5%;
  margin-right: -2.5%;
}

* {
  font-family: 'Open Sans Condensed', sans-serif;
}

.intro .center {
  text-align: center;
}

.intro .image {
  border: 5px solid black;
  border-radius: 5px;
  margin-top: 15%;
  margin-left: 15%;
  margin-right: 15%;
}


//INTRO MEDIAQUERIES
@media screen and (max-width: $break-small) {
  .intro .content {
    background: rgba(0,0,0,.5);
    margin-left: 10%;
    margin-right: 10%;
  }

  .introimg {
    display: none;
  }

}



//HOMEPAGE - INTRODUCTION CARDS

.intro .card {
  border: 5px solid black;
  padding: 5%;
  margin-left: 15%;
}

.intro .card h2 {
  @include tekstgroot;
  //font-size: 50px;
}

.intro .card p {
  @include tekstmid;
  //font-size: 20px;
}

.intro .card a {
  color: darkblue;
  text-decoration: underline;
}


.intro .card img {

  max-width: 450px;
  max-height: 450px;
  display: block;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;

  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}

.intro .maincontainer {
  margin-left: 15%;
  margin-right: 15%;
}

//HOMEPAGE - INTRO CARD BUTTONS

.team button {
  padding: 5px;
  font-weight: bold;
}

.team button:hover {
  cursor: pointer;
}

.team button:active {
  padding: 3px;
  box-shadow: 2px 2px 2px;
}

//HOMEPAGE - INTRODUCTION CARD MEDIAQUERIES


@media screen and (max-width: $break-mid2) {
 .intro .maincontainer {
    margin-right: 10%;
    margin-left: 10%;
  }

  .intro .card {
    border: none;
    display:inline-block;
    background: rgba(0,0,0,.01);
  }


  .intro .card img {
    border: 2px solid black;
    border-radius: 50%;


  }
}

@media screen and (max-width: $break-small) {

  .intro .card img {

  }

  .intro .container .image {
    max-width: 300px;
    max-height: 300px;
  }
}

//HOMEPAGE - ABOUT OUR MUSIC

.music {
  margin-right: 15%;
  margin-left: 15%;

}

.music img {
  overflow: hidden;
  width:300px;
  height: 300px;
  border: 5px solid black;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 15%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

//OUR MUSIC HOVER EFFECT
.music .image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;

}

.music .container:hover .image {
  width: 350px;
  height: 350px;
  box-shadow: 5px 5px 5px;
}

.music .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.music .container:hover .middle {
  top: 50%;
  left: 55%;
}

.music .container:hover {
  cursor: pointer;

}

.music .container:hover .image {
  opacity: 0.3;

}

.music .container:hover .middle {
  opacity: 1;
}

 .music .textdisco {
  background-color: transparent;
  color: yellow;
  font-size: 50px;
}

.music .container {
  margin-top: 5%;
}

//MEDIAQUERY OUR MUSIC

@media screen and (max-width: $break-mid) {
  .music .image {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    min-width: 200px;
    min-height: 200px;
  }
}
  @media screen and (max-width: $break-mid2) {
    .music .image {
      border-radius: 50%;
      width: 250px;
      height: 250px;
      min-width: 200px;
      min-height: 200px;
    }

  .music .container {
    margin: 5%;

  }

}

@media screen and (max-width: $break-small) {
  .music img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    min-width: 200px;
    min-height: 200px;
  }

  .music .container {
    margin: 5%;

  }
}




//FOOTER

.footr {
  border-top: 1px solid grey;
  background-color: black;
  bottom: 0;
  width: 100%;
  bottom: 0;
  overflow:hidden;
  clear: both;
}


.footr img {
  overflow: hidden;
  max-height: 20px;
}


.footr p {
  color: white;
}

//INDIE

.achtergrond {
  background-position: center;
  font-color: white;

}

.achtergrond img {
  filter: brightness(50%);
}

.indie .contentindie h2{
  text-decoration: underline;
}

.indie .contentindie {

  color: yellow;
  background: rgba(0,0,0,.5);
  margin-left: 15%;
  margin-right: 15%;
  margin-top:5%;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 30px;
}

.indie .indietekst ul li{
  list-style-type: none;
}

.indiefootr .footr{
  position: absolute;
}

//INDIE MEDIAQUERY


//ROCK

  .rock .footr {
    position: absolute;
  }

  .rock .rockcontainer {
    color: yellow;
    background: rgba(0,0,0,.5);
    margin-left: 15%;
    margin-right: 15%;
    margin-top:2%;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 30px;
  }
  
  .rock h2 {
    text-decoration: underline;
  }

  .rock ul li {
    list-style-type: none;
  }

//DANCE

//DISCO

//HIP HOP

//RAP